<%= turbo_frame_tag 'calendar' do %>
  <%= month_calendar(events: plannings, group: group, end_attribute: :end_time) do |date, plannings| %>
    <%= date %>
    <div class="mt-2">
      <% plannings.each do |planning| %>
        <div class="planning mb-2">
          <p class="fw-bold mb-0"><%= planning.name %></p>
          <small><%= planning.time unless planning.multi_days? %></small>
        </div>
      <% end %>
    </div>
  <% end %>
<% end %>
