<div class="banner" style="background-image: linear-gradient(rgba(255, 192, 203, 0.6), rgba(0, 0, 0, 0.6)), url('<%= @group.banner_photo.key.present? ? cl_image_path(@group.banner_photo.key, crop: :fit) : 'https://images.unsplash.com/photo-1525026198548-4baa812f1183?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1334&q=80' %>');">
  <div class="container">
    <h1 class="group-title"><%= @group.name %></h1>
    <p>Nombre de messages non lus : <%= @unread_messages_count %></p>
    <% if @group.family.user == current_user %>
      <%= link_to "<i class='fa-solid fa-pen-to-square' style='color: #F18C2D;'></i>".html_safe, edit_family_group_path(@family, @group), class: "me-2" %>
      <%= link_to "<i class='fa-solid fa-trash-can' style='color: #ff2600;'></i>".html_safe,
                    group_path(@group),
                    class: "text-decoration-none link-dark",
                    data: {turbo_method: :delete, turbo_confirm: "Êtes-vous sûr de supprimer ?"} %>
    <% end %>
    <h3 class="mt-4">Créé par la famille <%= @family.name %></h3>
    <p class="fst-italic fs-6"><%= @group.place_address %></p>
    <p class="mt-4"><%= @group.description %></p>
    <% if @group.family.user != current_user && current_user.family.name.present? %>
      <% if @invited_family %>
        <p class="btn btn-info disabled mt-4">Demande en attente d'acceptation</p>
      <% elsif @accepted_family %>
        <p class="btn btn-success disabled mt-4">Vous êtes membre de ce groupe !</p>
      <% else %>
        <%= link_to "Rejoindre le groupe", group_families_groups_path(@group), data: {turbo_method: 'post'}, class: "btn btn-primary mt-4" %>
      <% end %>
    <% end %>
    <% if !current_user.family.name.present? %>
       <p class="mt-5"><i class="fa-solid fa-circle-exclamation"></i> Pour rejoindre ce groupe, vous devez d'abord <%= link_to "ajouter des informations", family_path(current_user.family), class: "fw-bold" %> sur votre famille !</p>
    <% end %>

    <%# code initial qui fonctionne, déplacé depuis dans le controller %>
    <%# <div>
      <% invited_family = FamiliesGroup.find_by(group_id: @group, family_id: current_user.family).where(confirmation: "pending") %>
      <%# <%= invited_family.confirmation if invited_family %>
    <%# </div> %>

  </div>
</div>

<div class="container mt-4">

  <% if !@families_groups.empty? && @group.family.user == current_user %>
    <div class="warning-card mt-3">
      <h3 class="mb-4">Ils veulent rejoindre le groupe !</h3>
      <% @families_groups.each do |family_group| %>
        <div class="mx-3 me-3">
          <p><%= link_to "Demande de la famille #{family_group.family.name}", family_path(family_group.family), class: "text-decoration-none text-black" %></p>
          <%= link_to 'Accepter', accept_families_group_path(family_group), data: {"turbo-method": :patch}, class: "btn btn-success btn-sm me-2" %>
          <%= link_to 'Refuser', refuse_families_group_path(family_group), data: {"turbo-method": :patch}, class: "btn btn-danger btn-sm" %>
        </div>
      <% end %>
    </div>
  <% end %>

  <div class="light-card my-3">
    <h3 class="mb-4">Tous les membres du groupe</h3>
    <% @all_families.each do |family| %>
      <div class="px-4">
        <div class="card-product my-4">
          <%= family.photos[0] ? image_tag(family.photos[0], crop: :fit) : image_tag("https://images.unsplash.com/photo-1491013516836-7db643ee125a?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1325&q=80") %>
          <div class="card-product-infos">
            <%= link_to "Famille #{family.name.capitalize}", family_path(family), class: "fs-5" %> <%= '<i class="fa-regular fa-face-grin-stars"></i>'.html_safe if @family == family %>
          </div>
        </div>
      </div>
    <% end %>
  </div>

  <div style="width: 100%; height: 600px;"
  data-controller="map"
  data-map-markers-value="<%= @marker.to_json %>"
  data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>
</div>
