<div class="banner" style="background-image: linear-gradient(rgba(255, 192, 203, 0.6), rgba(0, 0, 0, 0.6)), url('<%= @group.banner_photo.key.present? ? cl_image_path(@group.banner_photo.key, crop: :fit) : 'https://images.unsplash.com/photo-1525026198548-4baa812f1183?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1334&q=80' %>');">

  <div class="container">
    <h1 class="group-title"><%= @group.name %></h1>
    <p><%= @group.description %></p>

    <% if @group.family.user != current_user %>

    <%# Eventuellement : essayer aussi de cacher le bouton lorsque la demande est déjà faite ! (je n'y arrive pas) %>

      <%= link_to "Rejoindre le groupe", new_group_families_group_path(@group, @familes_group), class: "btn btn-primary" %>
    <% end %>

    <%#  Vérifier que la famille qui veut rejoindre le groupe est current_user (ok) %>
    <%# !!! Mais surtout vérifier le statut de demande de la famille !!! (je n'y arrive pas du tout) %>

    <% if !@families_want_to_join.empty? && @group.family.user != current_user && @families_want_to_join[0].include?(current_user.family) %>
      <div class="light-card mt-3">
        <p style="color: black;">VERIFIER ET AFFICHER LE STATUT DE LA DEMANDE ICI !!!</p>
      </div>
    <% end %>

  </div>

</div>

<div class="container mt-4">

  <h2>Créé par la famille <%= @family.name %></h2>

  <%= link_to "<i class='fa-solid fa-pen-to-square' style='color: #F18C2D;'></i>".html_safe, edit_family_group_path(@family, @group), class: "me-2" %>
  <%= link_to "<i class='fa-solid fa-trash-can' style='color: #ff2600;'></i>".html_safe,
                group_path(@group),
                class: "text-decoration-none link-dark",
                data: {turbo_method: :delete, turbo_confirm: "Êtes-vous sûr de supprimer ?"} %>

  <% if !@families_want_to_join.empty? && @group.family.user == current_user %>
    <div class="light-card mt-3">
      <h3 class="mb-4">Ils veulent rejoindre le groupe !</h3>
      <% @families_want_to_join.each do |x| %>
        <div class="mx-3 me-3">
          <p>Demande de la famille <%= x[0].name %></p>
          <%= link_to 'Accepter', accept_families_group_path(x[1]), data: {"turbo-method": :patch}, class: "btn btn-success btn-sm me-2" %>
          <%= link_to 'Refuser', refuse_families_group_path(x[1]), data: {"turbo-method": :patch}, class: "btn btn-danger btn-sm" %>
        </div>
      <% end %>
    </div>
  <% end %>

</div>
