<main>
<div class="homebanner" style="background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1511895426328-dc8714191300?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80);">
  <div class="container mt-4">
    <h1><i class="fa-solid fa-hands-holding-child fa-lg"></i> Nur'S'hare</h1>
    <h3>Découvrez une nouvelle façon de gérer la garde d'enfants. <span data-controller="typed-js"></span></h3>

  </div>
</div>

  <div class="home-quick-explain">
    <img src="https://cdn.dribbble.com/users/77598/screenshots/16032812/media/bd58de124eaf5ee8dea1b330ff6d1874.png">
    <div class="home-quick-explain-text">
      <h2>Je cherche une solution de garde</h2>
      <p>Les places de crèche et de garderie sont limitées, les nounous sont souvent onéreuses et la confiance n'est pas toujours là !</p>
      <div class="icon">
      <%= link_to groups_path do %>
      <i class="fa-solid fa-magnifying-glass-location fa-2xl"></i>
      <% end %>
      </div>
    </div>
    <div class="home-quick-explain-text">
      <h2>Je cherche à partager une activité</h2>
      <p>Organisez des activités et donner le sourire à vos enfants en les laissant s'amuser tout en se créant de nouveaux amis !</p>
          <div class="icon">
      <%= link_to groups_path do %>
        <i class="fa-solid fa-magnifying-glass-location fa-2xl"></i>
      <% end %>
    </div>
    </div>
  </div>
  <div style="background-color: #cdb4dbff;">
    <div class="step-explain">
      <div class="card shadow-custom" style="width: 18rem;">
        <img class="card-img-top" src="https://cdn.dribbble.com/users/77598/screenshots/7314321/media/86247d104aaf81bfa137271bf8786cb3.png">
        <div class="card-body">
          <% if current_user %>
            <h5 class="card-title"><%= link_to "Je crée ma famille", family_path(current_user.family), class: "text-black text-decoration-none" %></h5>
          <% else %>
            <h5 class="card-title"><%= link_to "Je crée ma famille", new_user_session_path, class: "text-black text-decoration-none" %></h5>
          <% end %>
          <p class="card-text">Je nous décris, partage notre façon de vivre, exprime nos souhaits, mets en avant nos qualités mais aussi nos défauts !</p>
        </div>
      </div>
      <div class="card shadow-custom" style="width: 18rem;">
        <img class="card-img-top" src="https://cdn.dribbble.com/users/77598/screenshots/7283805/media/d93d307abd1d3c96bd9fc6d004d22de7.png">
        <div class="card-body">
          <% if current_user %>
            <h5 class="card-title"><%= link_to "J'informe les autres et je configure le rayon", new_family_group_path(current_user.family), class: "text-black text-decoration-none" %></h5>
          <% else %>
            <h5 class="card-title"><%= link_to "J'informe les autres et je configure le rayon", new_user_session_path, class: "text-black text-decoration-none" %></h5>
          <% end %>
          <p class="card-text">Je précise les jours où nous avons besoin de faire garder nos enfants mais également ceux où nous sommes disponibles pour garder les prochains copains. Je configure aussi la distance maximum à laquelle je suis prêt à me déplacer.</p>
        </div>
      </div>
      <div class="card shadow-custom" style="width: 18rem;">
        <img class="card-img-top" src="https://cdn.dribbble.com/users/77598/screenshots/7332213/media/066b07c14c3f8244a71e7742ffd521ff.png">
        <div class="card-body">
          <h5 class="card-title"><%= link_to "Je prends contact, croise les doigts et me réjouis !", groups_path, class: "text-black text-decoration-none" %></h5>
          <p class="card-text">Je regarde si des familles ou groupes de famille sont en recherche d'un nouveau membre ou je crée mon propre groupe.</p>
        </div>
      </div>
    </div>
  </div>
</main>
<footer>
  <div class="my-4">
    Fait avec <i class="fa-solid fa-heart" style="color: #eb0505;"></i> par l'équipe de Nur'S'hare
  </div>
</footer>
