<div class="container margin-with-navbar">

  <h2>Ajouter une garde</h2>

  <%= simple_form_for([@group, @planning]) do |f| %>
    <%= f.input :name, label: "Famille", collection: @all_families_names %>
    <%= f.input :start_time, label: "Début" %>
    <%= f.input :end_time, label: "Fin" %>
    <%= f.submit "Créer la garde", class: "btn btn-primary" %>
  <% end %>
</div>
